<div class="info-panel row text-center">
    <div class="col-md-12">
        <a href="https://github.com/Xabaril/Xabaril"><img height="80" width="80" src="~/images/github.jpg" /></a>        
    </div>    
</div>