
@{
    Layout = "~/Views/Shared/_ActivatorHolder.cshtml";
}
<div>
    <h2>LocationActivator</h2>
    <p>Activator that use Country IP Geo Location to enable features</p>

    <feature name="LocationActivator">
        <p>This feature is enabled only for ip located on Spain or United States</p>
    </feature>
</div>
