@{
    Layout = "~/Views/Shared/_ActivatorHolder.cshtml";
}
<div>
    <p><b>Xabaril Tag Helper Demo </b></p>

    This page is displayed only when the feature is <span class="enabled-feature">active.</span>

</div>
