@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <p>Xabaril Tag Helper Demo </p>

    <feature name="MyFeature">
        <div>This content is displayed only when feature MyFeature is active</div>
    </feature>

    <feature name="NonExistingFeature">
        <div>Non existing features return "as disabled" if use FailureModel.LogAndDisable</div>
    </feature>

</div>
