<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Xabaril Javascript sample</title>
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img height="120" width="100" src="images/Xabaril.png" />
                </div>
                <div class="col-md-12">
                    <h2>Javascript - Using Xabaril middleware example</h2>
                </div>

            </div>
            <br />
            <div>
                The following features have been configured on the server:
                <span  v-for="f in features">
                        <b>{{f}} &nbsp</b>
                 </span>
            </div>
            <br />
            <div class="row">
                <ul>
                    <li v-for="feature in featuresStatus">
                        {{feature.name}} is enabled : <span v-bind:class="feature.status.isEnabled ? 'active' : 'inactive' " id="status">{{ feature.status.isEnabled }} </span>
                    </li>
                </ul>

            </div>
            <div class="row">
                <div class="col-md-12">                  
                    <button class="btn btn-warning" v-on:click="testFeatures">Test features status</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/index.js"></script>
</body>
</html>